<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="bradcaump__inner text-center">
          <h2 class="bradcaump-title">Cart</h2>
          <nav class="bradcaump-content">
            <a class="breadcrumb_item" href="index.html">Home</a>
            <span class="brd-separetor">/</span>
            <span class="breadcrumb_item active">Cart</span>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- cart-main-area start -->
<div class="cart-main-area section-padding--lg bg--white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 ol-lg-12">
        <form action="#">
          <div class="table-content wnro__table table-responsive">
            <table>
              <thead>
                <tr class="title-top">
                  <th class="product-name">S.no</th>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-subtotal">Total</th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cart of cart_data; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td class="product-thumbnail">
                    <img
                      src="http://localhost:8899/images/{{ cart.image }}"
                      class="cart_image"
                      alt=""
                    />
                  </td>
                  <td class="product-name">
                    <a href="#">{{ cart.name }}</a>
                  </td>
                  <td class="product-price">
                    <span class="amount">${{ cart.current_price }}</span>
                  </td>
                  <td class="product-quantity">
                    <h1 (click)="increase(i)">+</h1>
                    <h1 (click)="decrease(i)">-</h1>
                    {{ cart.quantity }}
                  </td>
                  <td class="product-subtotal">${{ cart.total }}</td>
                  <td class="product-remove"><a href="#">X</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
        <div class="cartbox__btn">
          <ul
            class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between"
          >
            <li><a href="#">Coupon Code</a></li>
            <li><a href="#">Apply Code</a></li>
            <li><a routerLink="wishlist">Update Cart</a></li>
            <!-- routerLink="/check" -->
            <li>
              <a href="javascript:void(0)" (click)="check_out()">Check Out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <div class="cartbox__total__area">
          <div class="cartbox-total d-flex justify-content-between">
            <ul class="cart__total__list">
              <li>Gst</li>
              <li>Sub Total</li>
            </ul>
            <ul class="cart__total__tk">
              <li>${{ gst }}</li>
              <li>${{ sub_total }}</li>
            </ul>
          </div>
          <div class="cart__total__amount">
            <span>Grand Total</span>
            <span>${{ grand_total }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- cart-main-area end -->
